body{
    background-color: #000000;
    color: #ffffff;
}
.container{
	display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.font {
    color: darkgoldenrod;
    font-weight: bold;
    font-style: italic;
    font-size: 3.5em;
    text-shadow: -4px 2px 4px saddlebrown;
}
.text-center{
  text-align: center;
}
.m-t-50{
  margin-top: 50px;
}
.m-t-b-50{
  margin: 50px 0px;
}
.m-b-20{
  margin-bottom: 20px;
}
.title{
  background-color: goldenrod;
  width: 60vw;
  padding:10px 0;
  border-radius: 10px;
}
.title-p{
  padding: 0 20px;
  font-weight: bold;
  color: #000000;
}
.content{
  background-color: darkgoldenrod;
  width: 60vw;
  padding: 40px 0;
  border-radius: 10px;
}
.content-p{
  padding: 0 20px;
}
.modal-click-box{
  width: 60vw;
  background-color: darkgoldenrod;
  text-align: center;
  padding: 40px 0px;
  border-radius: 10px;
}
.click-button{
  padding: 10px 25px;
  background-color: #000000;
  color: #ffffff;
}
.close{
  text-align: right;
  margin:0 20px;
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.container-fluid{
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: darkgoldenrod;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  color: #ffffff;
}

.nav-item {
  padding: 0 30px;
}

.nav-item a{
  text-decoration: none;
  color:  #000000;
  font-size: 1.2em;
}

.nav-menu {
  display: flex;
}


.nav-item-toggle {
  display: none;
  font-size: 25px;
  color: #ffffff;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal-box{
    width: 50vw;
    background-color: darkgoldenrod;
    border:1px solid gold;
    text-align: center;
    padding: 40px 0px;
    border-radius: 10px;
    margin-top: 25vh;
    margin-left: 25vw;
}
@media only screen and (min-width: 501px) {
    .nav-menu{
        display: flex !important;
    }
}

@media only screen and (max-width: 500px) {
  .nav-menu,
  .navbar {
    flex-direction: column;
  }
  .nav-menu {
    display:none;
  }
  .toggle-nav {
    display: flex;
  }
  .nav-item-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
   .nav-item {
  padding: 10px 30px;
}

.font {
    font-size: 2em;
}
}